{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projeto VAR{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'denuncias/ico.ico' %}">
    <link href="{% static 'denuncias/css/base.css' %}" rel="stylesheet" />
    {% load static %}
</head>
<body>

    <nav class="navbar">
        <a href="{% url 'criar_punicao' %}">Criar Punição</a>
        <a href="{% url 'chamar_reuniao' %}">Reunião</a>
        <a href="{% url 'solicitar_tela' %}">Pedir Tela</a>
        <a href="{% url 'exibir_historico' %}">Historico</a> 
    </nav>

    <div class="content">
        {% block content %}
            {% endblock %}
    </div>
</body>
</html>